<div class="col-md-4">
  <h5>Things They Do</h5>

</div>
<div class="col-md-4">
  <h5>Things They Say</h5>
</div>
<div class="col-md-4">
  <h5>Show Milestones</h5>
  <p class =""><span class=" action-description">Rose Ceremony Rose</span><span class="float-right">10 points</span></p>
  <p class =""><span class=" action-description">Group Date Rose</span><span class="float-right">20 points</span></p>
  <p class =""><span class=" action-description">First Impression Rose</span><span class="float-right">30 points</span></p>
  <p class =""><span class=" action-description">One-on-One Rose</span><span class="float-right">20 points</span></p>
  <p class =""><span class=" action-description">Sent Home on One-on-One</span><span class="float-right">20 points</span></p>
  <p class =""><span class=" action-description">Two-on-One Rose</span><span class="float-right">20 points</span></p>
  <p class =""><span class=" action-description">Quits the Show</span><span class="float-right">20 points</span></p>

  <div class ="row">
    <div class="col-md-9">
      <span class=" action-description">Attempts to Return to Show After Being Eliminated</span>

    </div>
    <div class="col-md-3">

    <span class="float-right">30 points</span></div>
  </div>

  <div class =""><span class=" action-description">Attempts to Return to Show After Being Eliminated</span><span class="float-right">30 points</span></div>
</div><var></var>
