<%= tag :div, class: "team_information", data: {id: @team.id} %>

<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% current_season.contestants.each do |contestant| %>
      <div class="card draft-card" data-id="<%= contestant.id %>">
        <div class="card-body">
          <%= contestant.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
