<%= tag :div, class: "team_information", data: {id: @team.id} %>

<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% @team.draft_picks.order("rank").each do |pick| %>
      <div class="card draft-card" data-id="<%= pick.contestant.id %>">
        <div class="card-body">
          <%= pick.contestant.name %>
        </div>
      </div>
    <% end %>
    <button type="button" name="button" class = "btn btn-primary">Submit Draft Picks</button>
  </div>
</div>
