<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% current_season.contestants.each do |contestant| %>
      <div class="card">
        <div class="card-body">
          <%= contestant.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
