
<div class="jumbotron">
  <h1 class="display-3 text-center">Let's get started!</h1>
  <p class="lead">Create a new league and invite your friends, or join an existing league. Each league can have 4 teams and up to 5 people can be on a team!</p>
  <hr class="my-4">
  <p class="lead text-center">
    <%= link_to "Make a League!", "#", class: "btn btn-primary btn-lg"%>
    <%= link_to "Join a League!", "#", class: "btn btn-primary btn-lg"%>
  </p>
</div>
