<div class = "page-header">

    <span class = "in-line"><h2>League <%= @league.name %></span></h2>

<% if @league.team_of_user(current_user) %>
  <div class="float-right">
    <span class = "in-line"><h2>Team <%= @league.team_of_user(current_user).name %></span></h2>
  </div>
<% end %>
</div>
<div class="text-center bottom-margin">
    <a href ="#exampleModal" data-toggle="modal" data-target="#leagueInfoModal" class="text-center"> <i class="fa fa-info-circle" aria-hidden="true"></i> League Info</a>
  <br>

</div>
<div class="modal fade" id="leagueInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leage <%= @league.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render :partial => "leagues/info" %>

      </div>
    </div>
  </div>
</div>
