<div class = "page-header">


    <span class = "in-line"><h2>League <%= @league.name %> <%= link_to "League Details", league_teams_path(@league), class: "btn btn-primary btn-sm" %></span></h2>

<% if @league.team_of_user(current_user) %>
  <div class="float-right">
    <span class = "in-line"><h2>Team <%= @league.team_of_user(current_user).name %></span></h2>
  </div>
<% end %>
</div>
