@import url('https://fonts.googleapis.com/css?family=Dancing+Script|League+Script|Quicksand|Raleway');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Courgette|Grand+Hotel|Sacramento|Satisfy');
$color1: #E78F8E;
$navbar-pink: #ff5c5c;
$button-blue: rgb(104, 148, 255);
$tab-blue: #1212ab;;
$disabled-tab-blue: rgb(190, 200, 223);;
$card-header-blue: #C9DDFF;
$star-gold: #ffeb3b;
$underline-orange: #ff5722;
$new-green: #00d85e;
$color2: rgba(167, 196, 181, 1);
$color3: rgba(56, 63, 81, 1);
$color4: rgba(255, 94, 91, 1);
$color5: rgba(220, 237, 255, 1);
$jumbotrom-gray: #f1eeef;
$fire-red: #ef1616;

body, .splash {
  // // background: url('https://www.wallpapersbrowse.com/images/ur/urqoc8k.jpg') no-repeat center center fixed;
  // // background: url('http://static1.squarespace.com/static/54b71bcce4b069dab25320b5/t/559de385e4b02cc8af488516/1436410757760/tumblr_static_watercolor_texture3_by_valerianastock.jpg') no-repeat center center fixed;
  // background: url('https://s-media-cache-ak0.pinimg.com/originals/be/2a/94/be2a940c4ac312bf5abc0aa9677749de.jpg') no-repeat center center fixed;
  // background-image: url(<%= asset_path 'app/assets/images/pink_background.jpg' %>);
  background: image-url('pink_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .splash-title h1{
      font-size: 100px;
      font-family: 'Bad Script', cursive;
    }

    .splash-text {
      padding-top: 200px;

    }
}

footer {
  height: 50px;
}

.brush-stroke-container {
  background-image: url("https://t3.ftcdn.net/jpg/01/36/31/12/240_F_136311241_Q7FZe0i4zwsJdMIucNfcyqcThXAUA50R.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.section-underline {
  width: 350px;
  height: 5px;
  background-color: $underline-orange
}


body#bootstrap-override {
  // color: #998da0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  position: relative;

  .jumbotron {
      background-color: $jumbotrom-gray;
  }

  .navbar-brand {
    font-family: 'Bad Script', cursive;
    font-size: 40px;
  }
  .card-header {
    background-color: $card-header-blue;
    h4, h5 {
      margin: 0;
    }

  }
}
