button {
  background-color: #5FBFF9;
  margin: 0 10px;
}

.btn {
  background-color: $button-blue;
  border: #48B4F5;
  margin: 0 10px;
}

.btn-disabled {
  background-color: rgba(104, 148, 255, 0.36);
  border: #48B4F5;
  margin: 0 10px;
}

.btn-no-margin {
  margin: 0;
}

.nav-pills .nav-link {
  background-color: $disabled-tab-blue;
  color: white;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background-color: $button-blue;
  color: white;
}
