button {
  background-color: #5FBFF9;
  margin: 0 10px;
}

.btn {
  background-color: #6B85DB;
  border: #48B4F5;
  margin: 0 10px;
}

.nav-pills .nav-link {
  background-color: #C4D3EA;
  color: #998da0;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background-color: #94B0DA;
  color: white;
}
