.contestant-info {
  border-top: 5px solid #16bbff;
  border-bottom: 5px solid #16bbff;
  height: 80%;
  margin-top: 20px;

  p {
    font-size: 20px;
    padding: 20px 0 0 0 ;
  }
}

.contestant-profile-img {
  height: 100%
}

.personality {
  p {
    padding: 0;
    margin: 0;
  }
  .circle-chart {

  }
}

.contestant-details {
  h4 {
    font-size: 40px;
    margin: 50px;
  }
}


.stats-small-cards {
  font-size: 20px;
  .stats-card {
    height: 100%;
    }
}
