.contestant-info {
  border-top: 5px solid $button-blue;
  border-bottom: 5px solid $button-blue;
  height: 80%;
  margin-top: 20px;

  p {
    font-size: 20px;
    padding: 20px 0 0 0 ;
  }
}



.personality {
  p {
    padding: 0;
    margin: 0;
  }
  .circle-chart {

  }
}

.contestant-details {
  h4 {
    font-size: 40px;
  }
  .section-header {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.stats-header {
  height: 65px;
}

.play-points {
  color: red;
  font-size: 30px;
  padding-top: 30px; 
}


.stats-small-cards {
  font-size: 20px;
  .stats-card {
    height: 100%;
    }
}
