.draft-picks {

  .card-body {
    font-size:17px;
    margin-bottom: -8px;

    .cont-name {
      padding-top: 8px;
    }
  }

  .draft-btn {
    width: 200px;
    height: 50px;
    float: right;
    font-size: 20px;
    padding-top: 12px;
  }

// sortable styling

  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  ol.sortable li.placeholder {
    position: relative;
    /** More li styles **/
  }
  ol.sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
  }
  .sortable {
    flex-direction: column;
    display: flex;
    height:600px;
    flex-wrap: wrap;
  }

  .sortable li {
    float: left;
    width: 20%;
    margin-left: 5px;
  }

}
