.draft-picks {

  .card-body {
    font-size: 15px;
    margin-bottom: -10px;

    .cont-name {
      margin-left: -120px;
    }
  }

  .fa-fire {
    color: $fire-red;
  }

  .text {
    margin-top: 14px;
  }

  .avg-rank {
    font-size: 15px;
    color: $navbar-pink;
  }

  .draft-btn {
    width: 200px;
    height: 50px;
    float: right;
    font-size: 20px;
    padding-top: 12px;
  }

  .borderless-card {
    border: 1px solid rgba(255,255,255,0);
    height: 92.22px;
    font-size: 25px;

    .pick-number {
      margin: 26.25px 0 26.25px 60px;
      color: $navbar-pink;
    }
  }
  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  ol.sortable li.placeholder {
    position: relative;
    /** More li styles **/
  }
  ol.sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
  }
  .sortable {
    flex-direction: column;
    display: flex;
    height:600px;
    flex-wrap: wrap;
  }

  .sortable li {
    float: left;
    width: 20%;
    margin-left: 5px;
  }

}
