

.circular-headshots {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.circular-cont-headshots {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fa-star {
  color: $star-gold;
}

.medal {
  height: 40px;
}

.medal-img {
  height: 70px;
}

.points {
  font-size: 60px;
}

.logo {
  width: 400px;
}


.circle-img-container {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(40%);
}

.circle-img-container-table {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    // transform: translateY(40%);
}

.draft-img-container {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.md-circular-cont-headshots {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // height: 10pc;
}

.md-circle-img-container {
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}

.big-square-headshot {
  // height: 250%;
  width: 50%;
  object-fit: cover;
}

.square-headshots {
  width: 130%;
  max-width: 130%;
}

.square-img-container {
    overflow: hidden;
    height: 290px;
    border-radius: 5px;
}

.md-circular-headshots {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card-img-top {
  width: 40%;
}
