.circular-headshots {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.circular-cont-headshots {
  height: 250%;
  width: 100%;
  object-fit: cover;
}


.circle-img-container {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(40%);
}

.circle-img-container-table {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    // transform: translateY(40%);
}

.draft-img-container {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.md-circular-cont-headshots {
  height: 250%;
  width: 100%;
  object-fit: cover;
  // height: 10pc;
}

.md-circle-img-container {
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}


.square-headshots {
  width: 100%;
  // max-height: 400px;

}

.square-img-container {
    overflow: hidden;
    height: 290px;
    border-radius: 5px;
}

.md-circular-headshots {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card-img-top {
  width: 40%;
}
