.league-show {

  .card {
    @extend .text-center;
    height: 100%;
  }
  .row {
    margin-bottom: 25px;

    border-bottom: 25px;
  }
  .comment {
    small {
      float: right;
    }
    label {
      color: $navbar-pink;
    }
  }
  td p {
    padding-top: 18px;
  }

  .team-name {
    text-decoration: underline;
  }

  .bottom-margin {
    margin-bottom: 15px;
  }

  td {
    vertical-align: inherit;
  }

  .eliminated-contestant {
    color: #9e9e9eb3;

    img {
      opacity: 0.6;
    }
  }



}
