nav.navbar{
  background-color: $navbar-pink;
  font-weight: lighter;
  margin-bottom: 20px;
}

nav.navbar a.navbar-brand {
  font-size: 30px;
}

nav.navbar a:hover {
  color: #5A5766;
}

nav.navbar a {
  color: #EDFFEC;

}
