.points-badge {
  background-color: #ffc107;
}

.badge {
  font-size: 15px;
}

.cont-pts {
  color: red;
}

.count-badge {
}
p {
  font-size: 15px;
}

h4, h5 {
  color: black;
}

h5.card-title {
  font-weight: 800;
}

.action-description {
    max-width: 80%;
}

.modal-scoring {
  width: 1300px;
  margin-left: -32%;
}

.pts-milestones, .pts-do, .pts-say {
  text-decoration: underline;
  color: $navbar-pink;
}

.modal-scoring-header {
  background-color: $card-header-blue;
}

p.no-padding{
  padding: 0;
  margin: 0;
}


.middle-col {
  border-left: black 1px solid;
  border-right: black 1px solid;
}
