.points-badge {
  background-color: #ffc107;
}

.badge {
  font-size: 15px;
}

.cont-pts {
  color: red;
}

.count-badge {
}
p {
  font-size: 15px;
}

h4, h5 {
  color: black;
}

h5.card-title {
  font-weight: 800;
}

.action-description {
    max-width: 80%;
}

.modal-content {
  width: 1300px;
  margin-left: -32%;
}
